# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
*.xml
coverage.xml

# Environments
.env
.venv
env/
venv/
ENV/

# OS System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Frontend / JS
node_modules/
dist/

# Logs and databases
logs/
*.log
*.sqlite3
